<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>

    <h1> Welcome to my website! </h1>
    <h3>What would you like to do?</h3>
    <ul>
        <li><a href="/newuser">Add a new user</a></li>
        <li><a href="/users">View all saved data</a></li>
        <li><a href="/usersdb">View all saved data(in data base)</a></li>
        <li><a href="/name">View all saved names</a></li>
        <li><a href="/username">View all saved usernames</a></li>
        <li><a href="/email">View all saved emails</a></li>
        <li><a href="/delete">Delete last user</a></li>
        <li><a href="/deleteall">Delete all users</a></li>
    </ul>

</body>
</html>